@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Basic setup */
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
.row{
    width:1032px;
    margin: 0 auto;
    display: block;
}
.row1{
    width:1162px;
    margin: 0 auto;
    display: block;
}
.clearfix{
    overflow: auto;
}
/**************************/
/* Header section*/
/**************************/
header{
    /* background-image: url(../img/redesign-header.png);
    height:70rem;
    background-size:contain;
    background-position:top;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    position: relative;
    width:100%;
}
.back{
  width:100%;
  /* position: absolute;
  top:0;
  left:0;
  z-index: 100;*/
}
.back img{
  width:100%;
}
.desk-re{
  display: block;
}
.mob-re{
  display: none;
}
.top{
    background:none;
    position: absolute;
    top:0;
    width:100%;
    margin-top: 2rem;
}
.top nav{
    padding: .5rem;

}
.top nav .logo{
    width: 180px;
    height: 80px;
    float: left;
    display: inline-block;

}
.w-name{
  font-size: 2.5rem;

}
.top nav .logo img{
    width:100%;
    height:100%;
}
.top nav .bar{
    display: inline-block;
    float:right;
    font-size: 1.6rem;
    margin-top:2.2rem;
    /* padding-top:1rem; */
    margin-left: 7rem;
}
.top nav .bar ul{
    list-style: none;
    border-radius: 5px;
    overflow: auto;

    /* background: white; */
}

.top nav .bar ul li{
    float: left;
    padding: .6rem 1.5rem;
    font-weight: 700;
    cursor: pointer;


}
.top nav .bar li:last-child{
      display:none;
    }
.top nav .bar ul li a{
    text-decoration: none;
    color:#004867;
}
.top #special{
  text-decoration: none;
  color:white;
  background:#0071d3;
  padding:.7rem;
  border-radius:1.3rem;
}
.sticky{
      background:#dae5e9;
    position: fixed;
    width:100%;
    z-index: 9990;
    left: 0;
    color: white;
    border-bottom: 3px solid #074fbb;
    margin-top: 0rem;
    transition: .1s;

}
.sticky nav{
    padding: .2rem;

}
.sticky nav .logo{
    width:120px;
    height:60px;
    float: left;
    display: inline-block;

}
.sticky nav .logo img{
    width:100%;
    height:100%;
}
.sticky nav .bar{
    display: inline-block;
    float:right;
    font-size: 1.5rem;
    margin-top:.5rem;
    margin-bottom: 0rem;

}
.sticky nav .bar ul{
    list-style: none;
}
.sticky nav .bar ul li:first-child{
  display: none;
}
.sticky nav .bar ul li{
    float: left;
    padding: 1.5rem 1.5rem .5rem 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.sticky nav .bar ul li a{
    text-decoration: none;
    color:#05357e;
}
.sticky nav .bar li:last-child{
      display:none;
      color: #05357e;
  }
  .sticky #special{
    text-decoration: none;
    color:#05357e;
    background:none;
    padding:.1rem;
    border-radius:1.3rem;
  }

  .sticky-n{
      background:url(../img/nav-b.png);
      background-size:cover;
      width:100%;
      z-index: 9999;
      left: 0;
      color: white;
    /*  border-bottom: 3px solid #004867;*/

  }
  .sticky-n nav{
      padding: .2rem;

  }
  .sticky-n nav .logo{
      width:120px;
      height:60px;
      float: left;
      display: inline-block;
  }
  .sticky-n nav .logo img{
      width:100%;
      height:100%;
  }
  .sticky-n nav .bar{
      display: inline-block;
      float:right;
      font-size: 1.5rem;
      margin-top:1rem;
      margin-bottom: 0rem;

  }
  .sticky-n nav .bar ul{
      list-style: none;
  }
  .sticky-n nav .bar ul li{
      float: left;
      padding: 1.5rem 1.5rem .5rem 1.5rem;
      font-weight: 700;
      cursor: pointer;
  }
  .sticky-n nav .bar ul li a{
      text-decoration: none;
      color:#05357e;
  }
  .sticky-n nav .bar li:last-child{
        display:none;
        color: #004867;
    }
    .sticky-n #special{
      text-decoration: none;
      color:#004867;
      background:none;
      padding:.1rem;
      border-radius:1.3rem;
    }



.header-content{
    position: absolute;
    top:47%;
    left:22%;
    transform: translate(-47%,-22%);
    color:White;
    text-align: center
}
.header-content h1{
    font-size:2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}
.header-content h3{
    font-size:1.9rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
     animation-name: moveInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}
.btn-header{
    text-decoration: none;
    color: white;
    background: #227acc;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
   font-weight: 500;
    display: inline-block;
    transition: all .2s;
     position: relative;
}
.btn-header:hover{
    text-decoration: none;
    color: white;
    background: #227acc;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: 500;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}
.btn-header::after{
     content: "";
    display: inline-block;
    height:100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all .4s;
    background: #227acc;
    visibility: hidden;
}
.btn-header::before{
     content: "";
    display: inline-block;
    height:100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all .4s;
     background: #227acc;
    visibility: hidden;
}
.btn-header:hover::after{
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
    visibility:visible;
}
.btn-animated{
    animation: moveInBottom .5s ease-in;
    animation-delay: .2s;
    animation-fill-mode: backwards;
}

/******************/
/* about section */
/******************/
.about{
    background: url(../img/nurse-v.png);
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    overflow: hidden;
}
.about .about-back{
    background: url(../img/about-back.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-top: 0rem;

    border-radius: 1rem;
}
.top-p,
.bottom-p{
    padding: 4rem 2rem;
}
.top-p h2,
.bottom-p h2{
    font-size:2.2rem;
    font-family: 'Grandstander', cursive;
}
.top-p p,
.bottom-p p{
    font-size:1.5rem;
    line-height: 1.6;
}

.about .about-back .img-fix img{
    width:70%;
    height:30rem;
    border-radius: 1rem;
    box-shadow: 1rem 1.5rem 5rem rgba(0,0,0, .5);
    margin: 0 auto;
    display: block;
    margin-top: 20%;
}

/******************/
/* benefits section */
/******************/

.benefits{
    background: url(../img/human-water.png);
    background-size:cover;
    background-position: center;
    color:white;
    padding: 10rem 0rem;
    padding-top: 15rem;
    overflow: hidden;
}

.benefits h1{
    text-align: center;
    font-size:3rem;
    letter-spacing: .7rem;
    padding-top: 1rem;
    margin-bottom: 7rem;
    font-weight: 500;
}
.benefits .benefit-view{
    padding: 2rem;
    background:rgba(27, 101, 172, .8);
    width:25%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: inline-block;
    margin-right: 4rem;

}
.raw{
    padding: 1rem;
    text-align: center
}
.benefits .benefit-view li{
    list-style: none;
    color: white;
    font-size:1.5rem;
    font-weight:700;
    padding: .5rem;
    text-align: left;
}
/******************/
/* Top Main */
/******************/
.top-main{
  background: url(../img/top-main-b.png);
  background-size:cover;
  background-position: left;
  background-repeat: repeat;
  padding: 4rem;
  z-index: 9990;
  padding-bottom: 10px;

}
.row-main{
  width:400px;
  margin: 0 auto;
}
.l-t{
  background: #94c3db;
  padding: 1.5rem;
  border-bottom-right-radius: 5rem;
}
.l-t-fix{
  width:300px;
}
.l-t .logo-t{
  width: 35%;
  float: left;
}
.l-t .title-t{
  width:50%;
  float: left;
}
.l-t .title-t h1{
 text-align: center;
 margin-top: 5rem;
 margin-left: 5rem;
 font-family: 'Grandstander';
 color:#074fbb;
 font-weight: 900;
 font-size: 2.6rem;
}
.l-t .logo-t img{
  width:100%;
}
.l-t .title-t-n{
  width:50%;
  float: left;
}
.l-t .title-t-n h1{
 text-align: center;
 margin-top: 6rem;
 margin-left: 1rem;
 font-family: 'Grandstander';
 color:#345381;
 font-weight: 900;
 font-size: 2.4rem;
 text-transform: uppercase;
}
/******************/
/* FAQS Section */
/******************/
.faqs{
  background: #dae5e9;
  padding-bottom:6rem;
  padding-top:6rem;
}
.faqs h1{
    text-align: center;
    font-size:3rem;
    letter-spacing: .7rem;
    margin-bottom:5rem;
    font-weight: 700;
    color:#056483;
    padding-top: 9rem;

}
.faqs-img{
    width:70%;
    margin: 0 auto;
    border-radius: 1rem;
}
.faqs-img img{
    width:100%;
    height:40rem;
    border-radius: 1rem;
    display: block;
}
.accordion{
    font-size:1.5rem;
}
.card{
     border-radius: 1rem;
     width: 100%
}

.card-header{
    background-color:#1b65ac;
    border-radius: 1rem;
}
.btn-block{
    font-size:1.8rem;
    text-decoration: none;

    color:white;
}
.btn-block:hover,
.btn-block:active{
    text-decoration:none;
    color:white;
}
/******************/
/* discliamers */
/******************/
.disclaimer{
    background: #f5f7f8;
    padding: 2rem;
    margin-top: 0rem;
    padding-top:5rem;
    padding-bottom: 5rem;
    overflow: hidden;
}
.disclaimer h1{
     text-align: center;
    font-size:3rem;
    letter-spacing: .7rem;
    margin-bottom:8rem;
    font-weight: 700;
    color:#074fbb;
    text-transform: uppercase;
    padding-top: 7rem;
}
.disclaimer .disc{
    padding: 2rem;
    background: white;
    margin-bottom: 2rem;
    font-size:1.7rem;
    border-radius:1rem;
    box-shadow: .2rem .5rem 1.5rem rgba(0,0,0, .3);
    color:#606566;
    font-family: 'roboto';
}

/******************/
/* Treatment */
/******************/

.treat{
    margin-top: 0rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background:#dae5e9;
    /* background: url(../img/water-drop-2.png); */
}
.treat h1{
    text-align: center;
    font-size:3rem;
    letter-spacing: .7rem;
    margin-bottom:5rem;
    font-weight: 700;
    color:#074fbb;
    text-transform: uppercase;
    padding-top: 0rem;
}
.heading{
    width:100%;

}

.head-btn{
    text-decoration: none;
    background:#1b65ac;
    color:white;
    font-size:2rem;
    padding: 1rem 3.15rem;
    transition: .6s;
    font-weight:700;
    display: inline-block;
    cursor: pointer;
    width: 16.44%;
    text-align: center;

}
.head-btn:first-child{
    border-top-left-radius: 1rem;
    background:#3393c7;

}
.head-btn:last-child{
     border-top-right-radius: 1rem;
}

.head-btn:hover,
.head-btn:active{
    background:#3393c7;
}
.active{
    background:#616263;
    color:#0b91bc;
}
.content{
    visibility: hidden;
    opacity:0;
    transition: .2s;
    font-size:2rem;
    /* background: #f5f7f8; */
    background: url(../img/water-drop-2.png);
    background-size:cover;
    background-position: top;
    padding: 2rem;
    margin-top:-1rem;
    font-weight:600;
    color:#345381;
    height:50rem;
    display: none;
    border-radius: 15px;
}
.impo{
  font-weight: bold;
  font-size: 2.1rem;
}
.content:first-child{
    visibility: visible;
    opacity:1;
    display: block;

}
/******************/
/* promotions */
/******************/

.promo{
    background: url('../img/Water-Oxyegn.png');
    background-position: center;
    background-size: cover;
    margin-top: 0rem;
    padding-top: 10rem;
    padding-bottom:10rem;
}
.row-pro{
  width:600px;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  background: white;
  position: relative;
}
.img{
  width:50%;
  float: left;
}
.content-pro{
  width:50%;
  padding: 1rem;
  float: left;

}
.img img{
  width:100%;
  height: 37rem;
  float: right;
}
.content-pro{
  background: white;
  text-align: center;
}
.line{
  padding: 1rem;
  padding-bottom: 2rem;
}
.line h1{
  color: #05357e;
  font-weight: 900;
  font-family: 'roboto';
  font-size: 2.1rem;
  display: inline-block;
  margin-top: 30px;
  margin-left: -20px;

}
.line hr{
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}
.line h3{
  font-size: 1.5rem;
  font-weight: 700;
  color:#606566;
}
.l-1 img{
 width: 46px;
 position: absolute;
 right:10px;
 top:29px;
}
/******************/
/* contact */
/******************/
.contact{
    position: relative;
    overflow: hidden;
}
#mapid {
    height: 480px;
    z-index: 500;
}
.contact .up{
    position: absolute;
    right: 0;
    top:0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.82);
    font-size:1.7rem;
    margin:0;
    width:40%;
    color:black;
    font-weight: 500;
    padding: 8rem 4.2rem;
}
.up i{
    color:#074fbb;
    padding-right: 1rem;
    font-size:2.8rem;
}
.up a{
    text-decoration:none;
    color:black;
    font-weight: 500;
}
td{
    padding: 1rem
}
.logof-e{
    width:20rem;
    height: 20rem;
    display: block;
    margin: 5rem auto;
    margin-bottom: 2rem;

}
.logof-e img{
    width:100%;

}
/******************/
/* footer */
/******************/
footer{
  background: #204b8c;
  color:white;
  padding: 1.5rem;
  font-size: .6rem;
  text-align: center;
}

/******************/
/* animation */
/******************/

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
/******************/
/* queries */
/******************/

.mob-nav{
    position: absolute;
    top:0;
    width:100%;
    height:100vh;
    background:  #227acc;
    z-index: 9999;
    color:white;
    transition: .2s;
    visibility: hidden;
    opacity: 0;
}
#togg{
    display: none;
}
 #togg:checked ~ .mob-nav{
    position: absolute;
    top:0;
    right:0;
}
.mob-nav:target{
     visibility:visible;
    opacity: 1;
}
.mob-nav ul{
    list-style: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:2rem;
    text-align: left;

}
.close{
    position: absolute;
    top:3rem;
    right:4rem;
    color: white;
    z-index: 9999;

}
.close:hover{
    color:white;
}

.mob-nav ul li{
    margin-bottom: 1rem;
}
.mob-nav ul li a{
    color:white;
    padding: 1rem;
    text-decoration: none;
}
.mob-nav ul li a:hover{
    color:white;
    padding: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 1260px) {
    .contact .up{
    position: absolute;
    right: 0;
    top:0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.82);
    font-size:2rem;
    margin:0;
    width:42%;
    color:black;
    font-weight: 500;
    padding: 15rem 2.5rem;
}
.up a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}
}
@media only screen and (max-width: 1060px) {
    .row{
        width:100%;
    }
    .row1{
        width:100%;
        padding:0rem 2rem;
    }
	.col {
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
    .span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}
    	.span-3-of-3 {
		width: 100%;
	}
	.span-2-of-3 {
		width: 100%;
	}
	.span-1-of-3 {
		width: 100%;
	}
    .top nav .bar li{
        display: none;
    }
     .top nav .bar li:last-child{
        display:block;
         cursor: pointer;
    }
      .top nav .bar li a i:last-child{
        display:block;
         cursor: pointer;
          font-size:2.2rem;
          color: #004867;
    }
}
@media only screen and (max-width: 720px) {
    .row{
        width:100%;
        padding:0rem 2rem;
    }
    .row1{
        width:100%;
        padding:0rem 2rem;
    }
	.col {
		/*margin: 1% 0 1% 0%;*/
        margin: 0 2rem;
	}
  .row-pro{
    width:90%;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    background: white;
    position: relative;
  }
  .img{
    width:50%;
    float: left;
  }
  .content-pro{
    width:50%;
    padding: 1rem;
    float: left;

  }
  .img img{
    width:100%;
    height: 28rem;
    float: right;
  }
  .content-pro{
    background: white;
    text-align: center;
  }
  .line{
    padding: .3rem;
    padding-bottom: 1rem;
  }
  .line h1{
    color: #004867;
    font-weight: 900;
    font-family: 'roboto';
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 30px;
    margin-left: -20px;

  }
  .line hr{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .line h3{
    font-size: 1.1rem;
    font-weight: 700;
    color:#606566;
  }
  .l-1 img{
   width: 30px;
   position: absolute;
   right:12px;
   top:40px;
  }
header{

    background-image: url(../img/redesign-header.png);
  height:70rem;
  background-size:cover;
  background-position:left;
  background-attachment:scroll;
  background-repeat: no-repeat;
  }
  .desk-re{
    display: none;
  }
  .mob-re{
    display: none;;
  }
    .span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}
    .span-3-of-3 {
		width: 100%;
	}
	.span-2-of-3 {
		width: 100%;
	}
	.span-1-of-3 {
		width: 100%;
	}
    .top nav .bar li{
        display: none;
    }
     .top nav .bar li:last-child{
        display:inline;
         cursor: pointer;
         margin-top: 0px;
    }
      .top nav .bar li a i:last-child{
        display:inline;
         cursor: pointer;
          font-size:2.2rem;
          color: #004867;


    }
    .top nav .logo{
        /* width: 330px;
        height: 135px; */
        width: 120px;
       height: 50px;
        float: left;
        display: inline-block;
        margin-top:15px;

    }
    .sticky nav .bar li:last-child{
          display:block;

      }
      .sticky nav .bar li{
          display: none;
      }
      .sticky nav .logo{
          width:120px;
          height:60px;
          float: left;
          display: inline-block;

      }
       .sticky nav .bar li:last-child{
          display:inline;
           cursor: pointer;
           margin-top:0px;
      }
        .sticky nav .bar li a i:last-child{
          display:inline;
           cursor: pointer;
            font-size:2rem;
            color: #004867;
      }
    .sticky nav .bar li a i:last-child{
    text-decoration: none;
    color: #004867;
  }

  .sticky-n nav .bar li:last-child{
        display:block;
    }
    .sticky-n nav .bar li{
        display: none;
    }
     .sticky-n nav .bar li:last-child{
        display:block;
         cursor: pointer;
    }
      .sticky-n nav .bar li a i:last-child{
        display:block;
         cursor: pointer;
          font-size:2.2rem;
          color: #004867;
    }
  .sticky-n nav .bar li a i:last-child{
  text-decoration: none;
  color: #004867;
}
.top-main{
  background: url(../img/top-main-b.png);
  background-size:cover;
  background-position: left;
  background-repeat: repeat;
  padding: 4rem;
  margin-top: -.8rem;

}
.row-main{
  width:260px;
  margin: 0 auto;
}
.l-t{
  background: #94c3db;
  padding: 1.1rem;
  border-bottom-right-radius: 5rem;
}
.l-t-fix{
  width:200px;
}
.l-t .logo-t{
  width: 50%;
  float: left;
}
.l-t .title-t{
  width:50%;
  float: left;
}
.l-t .title-t h1{
 text-align: center;
 margin-top: 3.5rem;
 margin-left: .9rem;
 font-family: 'Grandstander';
 color:#074fbb;
 font-weight: 900;
 font-size: 2.6rem;
}
.l-t .logo-t img{
  width:100%;
}
    .header-content{
    position: relative;
    margin-top: 30rem;
    margin-left: 8rem;
    color:White;
    text-align: center
}
    .header-content h1{
    font-size:2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}
.header-content h3{
    font-size:2rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
     animation-name: moveInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}
.btn-header{
    text-decoration: none;
    color: white;
    background: #227acc;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
   font-weight: 500;
    display: inline-block;
    transition: all .2s;
     position: relative;
}
.btn-header:hover{
    text-decoration: none;
    color: white;
    background: #227acc;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: 500;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}
.btn-header::after{
     content: "";
    display: inline-block;
    height:100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all .4s;
     background-color: #227acc;
    visibility: hidden;
}
.btn-header::before{
     content: "";
    display: inline-block;
    height:100%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all .4s;
     background-color: #227acc;
    visibility: hidden;
}
.btn-header:hover::after{
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
    visibility:visible;
}
.btn-animated{
    animation: moveInBottom .5s ease-in;
    animation-delay: .2s;
    animation-fill-mode: backwards;
}

   .about .about-back .img-fix img{
    width:80%;
    height:33rem;
    border-radius: 1rem;
    box-shadow: 1rem 1.5rem 5rem rgba(0,0,0, .5);
    margin: 0 auto;
    display: none;
    margin-top: 20%;
}
    .benefits{
    /* background: url(../img/benefits-back.png); */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    /* clip-path: polygon(0 17%, 100% 10%, 100% 83%, 0 90%); */
    padding: 10rem 0rem;
    padding-top: 10rem;
    margin-top: -1.5rem;
}
    .benefits .benefit-view{
    padding: 2rem;
    /* background: rgba(176, 218, 230, 0.77); */
    width:70%;
    margin:0 auto;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: block;


}
.faqs{
    margin-top: -1.5rem;
}
.faqs-img img{
    width:100%;
    height:40rem;
    border-radius: 1rem;
    display: none;
}
.btn-block{
    font-size:1.6rem;
    text-decoration: none;

    color:white;
}
.treat{
    margin-top: 2rem;
}
.treat h1{
     text-align: center;
    font-size:3rem;
    letter-spacing: .7rem;
    margin-bottom:5rem;
    font-weight: 700;
    color:#056483;
    text-transform: uppercase;
    padding-top: 3rem;
}
.heading{
    width:100%;

}
.head-btn{
    text-decoration: none;
    background:#056483;
    color:white;
    font-size:1rem;
    padding: 1rem 2.15rem;
    transition: .4s;
    font-weight:700;
    display: inline-block;
    cursor: pointer;
    width: auto;
}
.head-btn:first-child{
    border-top-left-radius: 1rem;
    background:#088186;
    margin-left: 2rem;
}
.head-btn:nth-child(3){
   border-top-right-radius: 1rem;

}
    .head-btn:nth-child(4){
   border-top-left-radius: 1rem;
        margin-left:3.2rem;

}
.head-btn:last-child{
     border-top-right-radius: 1rem;
    padding:1rem .7rem;
}

.head-btn:hover,
.head-btn:active{
    background:#088186;
}
.active{
    background:#616263;
    color:#0b91bc;
}
.content{
    visibility: hidden;
    opacity:0;
    transition: .2s;
    font-size:1.3rem;
    background: url(../img/water-drop-2.png);
    background-size:cover;
    background-position: top;
    padding: 1rem;
    margin-top:-1rem;
    font-weight:600;
    color:#345381;
    height:auto;
    display: none;
}
.impo{
  font-weight: bold;
  font-size: 1.4rem;
}
.content:first-child{
    visibility: visible;
    opacity:1;
    display: block;

}
    .contact{
    position: relative;
    overflow: hidden;
}
#mapid {
    height: 280px;
    z-index: 1001;
    width:100%;
}
.contact .up{
    position: relative;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.82);
    font-size:1.5rem;
    margin:0;
    width:100%;
    color:black;
    font-weight: 500;
    padding:1rem;
    overflow: hidden;
}
.up a{
    text-decoration:none;
    color:black;
    font-weight: 500;
}
td{
    padding: 1rem
}

}
